<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CiShanZhong.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BCFAA44D1C2CD4A100598E2D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BCFAA4661C2CD4A200598E2D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BCFAA4711C2CD4A200598E2D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
