<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>startPoints</key>
	<array>
		<string>{0,0}</string>
		<string>{0,0}</string>
		<string>{0,30}</string>
		<string>{50,0}</string>
		<string>{50,15}</string>
		<string>{80,0}</string>
		<string>{50,15}</string>
		<string>{80,15}</string>
		<string>{100,0}</string>
		<string>{100,0}</string>
		<string>{100,15}</string>
		<string>{100,15}</string>
		<string>{100,30}</string>
		<string>{150,0}</string>
		<string>{150,0}</string>
		<string>{155,0}</string>
		<string>{175,30}</string>
		<string>{180,0}</string>
		<string>{200,0}</string>
		<string>{200,0}</string>
		<string>{215,15}</string>
		<string>{200,30}</string>
		<string>{230,15}</string>
	</array>
	<key>endPoints</key>
	<array>
		<string>{0,30}</string>
		<string>{30,0}</string>
		<string>{30,30}</string>
		<string>{50,15}</string>
		<string>{50,30}</string>
		<string>{80,15}</string>
		<string>{80,15}</string>
		<string>{80,30}</string>
		<string>{100,15}</string>
		<string>{130,0}</string>
		<string>{100,30}</string>
		<string>{130,15}</string>
		<string>{130,30}</string>
		<string>{150,30}</string>
		<string>{155,0}</string>
		<string>{175,30}</string>
		<string>{180,30}</string>
		<string>{180,30}</string>
		<string>{230,0}</string>
		<string>{200,30}</string>
		<string>{230,15}</string>
		<string>{230,30}</string>
		<string>{230,30}</string>
	</array>
</dict>
</plist>
